<template>
  <v-bottom-navigation :fixed="fixed" grow>
    <v-btn :disabled="!canGoPrevious" @click="goToQuestion(currentQuestionIndex - 1)">
      <span>Previous</span>

      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-btn @click="clearAnswer()">
      <span>Clear</span>

      <v-icon>mdi-eraser</v-icon>
    </v-btn>
    <v-btn v-if="canGoNext" @click="goToQuestion(currentQuestionIndex + 1)">
      <span>Next</span>

      <v-icon>mdi-arrow-right</v-icon>
    </v-btn>
    <v-btn v-else @click="end">
      <span>Finish</span>

      <v-icon>mdi-check</v-icon>
    </v-btn>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn width="20" icon v-bind="attrs" v-on="on"><v-icon>mdi-menu</v-icon></v-btn>
      </template>
      <v-list>
        <v-list-item @click="end">
          <v-list-item-title>Finish</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-bottom-navigation>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
export default {
  name: "Actions",
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState("quiz", ["currentQuestionIndex", "questions"]),
    ...mapGetters("quiz", ["completeRate", "answeredCount"]),
    canGoNext() {
      return this.currentQuestionIndex + 1 < this.questions.length;
    },
    canGoPrevious() {
      return this.currentQuestionIndex > 0;
    },
  },
  methods: {
    ...mapActions("quiz", ["goToQuestion", "clearAnswer", "end"]),
    ...mapMutations("quiz", ["setAnswer"]),
  },
};
</script>

<style scoped></style>
