<template>
  <div :v-ripple="resultMode" :class="resultMode ? '' : 'hand-cursor'">
    <v-sheet :color="bgColor" rounded elevation="4" class="mt-2 d-flex fill-height">
      <v-row dense align="center" style="flex-grow: 1">
        <v-col cols="2" sm="1" class="pt-0 pb-0 pr-0">
          <v-sheet
            rounded
            elevation="0"
            style="justify-content: center; box-shadow: none !important"
            class="text-center pa-3 ma-0 rounded-xl"
            :color="color"
          >
            <strong :class="selected ? 'white--text' : 'black--text'">{{ String.fromCharCode(65 + index) }}</strong>
          </v-sheet>
        </v-col>
        <v-col cols="10" sm="11">
          <span v-html="answerData"></span>
        </v-col>
      </v-row>
    </v-sheet>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
@Component({ computed: { ...mapState("quiz", ["resultMode"]) } })
export default class Answer extends Vue {
  @Prop({ default: () => ({}) }) readonly answerData!: Object;
  @Prop({ required: true }) readonly index!: number;
  @Prop({ default: "indigo" }) readonly selectedColor!: string;
  @Prop({ default: "white" }) readonly defaultColor!: string;
  @Prop() readonly userAnswer!: string;
  @Prop(Boolean) readonly selected!: boolean;
  @Prop(Boolean) readonly correct!: boolean;
  resultMode: any;

  get bgColor(): string {
    if (this.resultMode) {
      if (this.correct) {
        return "#06d6a0";
      }
      if (this.selected) {
        return "#ef476f";
      }
    }
    return "";
  }

  get color() {
    if (this.resultMode) {
      return "transparent";
    }
    return this.selected ? this.selectedColor : this.defaultColor;
  }
}
</script>

<style scoped>
.hand-cursor:hover {
  cursor: pointer;
}
</style>
