<template>
  <div>
    <v-progress-circular v-if="isLoading" class="loader" color="blue" indeterminate></v-progress-circular>
    <v-overlay z-index="999" :value="isLoading"></v-overlay>
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "Loader",
  computed: {
    ...mapState("loader", ["requestsPending"]),
    ...mapGetters("loader", ["isLoading"]),
    loadingValue() {
      return 100 - this.requestsPending * 10;
    },
  },
};
</script>
<style lang="scss">
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
}
</style>
