<template>
  <v-row class="flex-column align-center">
    <v-col cols="12" md="8" lg="5" sm="12">
      <v-sheet rounded elevation="4" class="pa-3 ma-0" v-html="questionData.question"></v-sheet>
    </v-col>
    <v-col cols="12" md="8" lg="5" sm="12">
      <Answer
        v-for="(a, index) in questionData.answers"
        :key="index"
        :answer-data="a"
        :index="index"
        selected-color="black"
        :selected="questionData.selectedAnswer === a"
        :correct="questionData.correct_answer === a"
        @click.native="resultMode ? null : onSelectAnswer(a)"
      />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Answer from "@/components/Answer.vue";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
@Component({
  components: { Answer },
  computed: mapState("quiz", ["resultMode"]),
})
export default class Question extends Vue {
  @Prop({ default: () => ({}) }) questionData!: any;

  @Emit()
  onSelectAnswer() {}
}
</script>

<style scoped></style>
