<template>
  <v-row align="center" dense style="height: 100vh" class="flex-column flex-nowrap my-list rounded-0 card">
    <div style="width: 250px">
      <v-progress-linear :value="completeRate" height="25" color="grey lighten-1">
        <strong>{{ answeredCount }} / {{ questions.length }}</strong>
      </v-progress-linear>
      <v-col
        v-for="(question, questionIndex) in questions"
        :key="questionIndex"
        v-ripple
        class="ma-1 pa-1 d-flex justify-center rounded-lg"
        style="width: 250px; max-height: 40px; min-height: 40px"
        :style="{ background: bgColor(questionIndex) }"
        @click="goToQuestion(questionIndex)"
      >
        <v-row align="center" dense class="ma-0 pa-0">
          <v-col cols="1" class="ma-0 pa-0 ml-1 mr-1">
            {{ questionIndex + 1 }}
          </v-col>
          <v-row class="ml-1">
            <v-col v-for="(answer, answerIndex) in question.answers" :key="answerIndex" cols="2" class="ma-0 pa-0">
              <v-sheet
                elevation="2"
                height="24"
                width="24"
                class="rounded-circle text-center"
                :color="color(question, answerIndex)"
              >
                <span :class="color(question, answerIndex) === 'black' ? 'white--text' : 'black--text'">
                  {{ String.fromCharCode(65 + answerIndex) }}
                </span>
              </v-sheet>
            </v-col>
          </v-row>
        </v-row>
      </v-col>
    </div>
  </v-row>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "QuestionListPanel",
  computed: {
    ...mapState("quiz", ["questions", "currentQuestionIndex"]),
    ...mapGetters("quiz", ["currentQuestion", "completeRate", "answeredCount"]),
  },
  methods: {
    ...mapActions("quiz", ["goToQuestion"]),
    color(question, ranswerIndex) {
      const answerIndex = question.answers?.findIndex((a) => a === question.selectedAnswer);

      if (answerIndex === ranswerIndex) {
        return "black";
      }
      return "transparent";
    },
    bgColor(index) {
      if (index === this.currentQuestionIndex) {
        return "#E3F2FD";
      }
      if (index % 2 === 0) {
        return "transparent";
      }
      return "rgba(0,0,0,0.02)";
    },
  },
};
</script>

<style scoped>
.my-list {
  overflow-y: hidden !important;
  overflow-x: hidden;
  margin: 0;
}
.my-list:hover {
  overflow-y: auto !important;
}

@media (pointer: coarse) {
  .my-list {
    overflow-y: auto !important;
  }
}
</style>
