<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" scrollable :fullscreen="$vuetify.breakpoint.mobile" max-width="1000">
      <v-card style="height: 90vh">
        <v-card-title class="d-flex justify-space-between" style="height: 55px">
          Review Questions
          <v-btn icon @click="show = false"><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-tabs v-model="tab" grow>
            <v-tabs-slider></v-tabs-slider>

            <v-tab v-for="item in items" :key="item">
              {{ item }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item :transition="false" :reverse-transition="false">
              <v-card flat style="height: 100%" class="pa-3">
                <v-row v-if="corrects.length === 0" style="height: 100%" justify="center" align="center">
                  <span>Nothing here</span>
                </v-row>
                <div v-for="(a, i) in corrects" :key="'c' + i">
                  <Question :question-data="a" />
                  <v-divider class="ma-2" />
                </div>
              </v-card>
            </v-tab-item>
            <v-tab-item :transition="false" :reverse-transition="false">
              <v-card flat class="pa-3">
                <v-row v-if="wrongs.length === 0" style="height: 100%" justify="center" align="center">
                  <span>Nothing here</span>
                </v-row>
                <div v-for="(a, i) in wrongs" :key="'w' + i">
                  <Question :question-data="a" />
                  <v-divider class="ma-2" />
                </div>
              </v-card>
            </v-tab-item>
            <v-tab-item :transition="false" :reverse-transition="false">
              <v-card flat style="width: 100%" justify="center" class="pa-3">
                <v-row v-if="unanswered.length === 0" style="height: 100%" justify="center" align="center">
                  <span>Nothing here</span>
                </v-row>
                <div v-for="(a, i) in unanswered" :key="i">
                  <Question :question-data="a" />
                  <v-divider class="ma-2" />
                </div>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import Question from "~/components/Question";
const { mapGetters } = require("vuex");
export default {
  components: { Question },
  props: {
    value: Boolean,
  },
  data() {
    return {
      tab: null,
      items: ["Correct", "Wrong", "Unanswered"],
    };
  },
  computed: {
    ...mapGetters("quiz", ["corrects", "wrongs", "unanswered"]),
    show: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
