<template>
  <v-app>
    <v-main>
      <Loader />
      <nuxt />
    </v-main>
  </v-app>
</template>
<script>
import Loader from "@/components/Loader";
export default {
  components: { Loader },
};
</script>
