<template>
  <v-container style="height: 90vh">
    <v-row class="flex-column" align="center" justify="center">
      <v-col cols="12" sm="6" md="5" lg="4" xl="3">
        <v-autocomplete
          v-model="selectedCategoryId"
          rounded
          outlined
          :items="categories"
          item-text="name"
          item-value="id"
          label="Category"
        ></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="6" md="5" lg="4" xl="3">
        <v-select v-model="selectedDifficulty" rounded outlined :items="difficulties" label="Difficulty"></v-select>
      </v-col>
      <v-col cols="12" sm="6" md="5" lg="4" xl="3">
        <v-select v-model="amount" rounded outlined :items="[5, 10, 15, 20, 25, 30]" label="Amount"></v-select>
      </v-col>
      <v-btn
        rounded
        color="primary"
        style="text-transform: none"
        @click="
          $router.push({
            path: '/quiz',
            query: { amount, category: selectedCategoryId, difficulty: selectedDifficulty },
          })
        "
      >
        Take Quiz
      </v-btn>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    categories: [],
    difficulties: ["Easy", "Medium", "Hard"],
    selectedDifficulty: "Easy",
    selectedCategoryId: null,
    amount: 5,
  }),

  mounted() {
    this.fetchCategories();
  },

  methods: {
    async fetchCategories() {
      const res = await this.$axios.get("https://opentdb.com/api_category.php");
      this.categories = res.data.trivia_categories;
    },
  },
};
</script>
