<template>
  <div>
    <v-row v-if="questions.length > 0" class="mx-1 mb-13">
      <v-col cols="12" sm="8" md="9" lg="10" xl="10">
        <v-row style="display: flex; align-items: center; flex-direction: column">
          <div style="align-self: center">
            <strong>{{ currentQuestionIndex + 1 }}. Question</strong>
          </div>
          <v-col>
            <v-fade-transition>
              <Question
                v-show="true"
                :key="currentQuestionIndex"
                :question-data="questions[currentQuestionIndex]"
                @on-select-answer="setAnswer"
              />
            </v-fade-transition>
          </v-col>

          <v-col cols="12" md="8" lg="5" sm="12" class="d-none d-sm-block">
            <Actions />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4" md="3" lg="2" xl="2" class="mb-5 d-none d-sm-block">
        <QuestionListPanel :size="questions.length" />
      </v-col>
      <Actions fixed class="d-sm-none" />
    </v-row>
  </div>
</template>

<script>
import Question from "@/components/Question";
import QuestionListPanel from "@/components/QuestionListPanel";
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import Actions from "@/components/Actions";
export default {
  components: { Actions, QuestionListPanel, Question },
  data: () => ({ sheet: true }),
  computed: {
    ...mapState("quiz", ["currentQuestionIndex", "questions"]),
    ...mapGetters("quiz", ["completeRate", "answeredCount"]),
    ...mapGetters("loader", ["isLoading"]),
    canGoNext() {
      return this.currentQuestionIndex + 1 < this.questions.length;
    },
    canGoPrevious() {
      return this.currentQuestionIndex > 0;
    },
  },
  mounted() {
    this.disableResultMode();
    this.fetchQuestions(this.$route.query);
    this.goToQuestion(0);
  },
  methods: {
    ...mapActions("quiz", ["goToQuestion", "fetchQuestions"]),
    ...mapMutations("quiz", ["setAnswer", "disableResultMode"]),
  },
};
</script>
