<template>
  <div v-if="corrects.length > 0 || wrongs.length > 0 || unanswered.length > 0">
    <v-row dense justify="center" align="center" class="flex-column ma-0 pa-0">
      <h2 class="mb-4">Your Result :</h2>
      <v-col cols="12">
        <PieChart class="mb-4" :data="barChartData" :options="barChartOptions" />
      </v-col>
      <v-row>
        <v-col>
          <v-btn color="primary" style="text-transform: none" rounded @click="openReviewDialog">Review Questions</v-btn>
        </v-col>
        <v-col>
          <v-btn color="secondary" style="text-transform: none" rounded @click="$router.push('/')">Test Again</v-btn>
        </v-col>
      </v-row>
      <ReviewQuestions v-model="showReviewDialog" />
    </v-row>
  </div>
  <div v-else>
    <v-row justify="center" align="center" class="flex-column" style="height: 100vh">
      <v-icon class="mb-3" x-large>mdi-emoticon-sad</v-icon>
      <span class="mb-3">You have to take quiz first</span>
      <v-btn class="mb-3" color="info" style="text-transform: none" rounded @click="$router.push('/')">Take Quiz</v-btn>
    </v-row>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import PieChart from "~/components/PieChart";
import ReviewQuestions from "~/components/ReviewQuestions";

const { mapGetters } = require("vuex");
export default {
  components: { ReviewQuestions, PieChart },
  data: () => ({
    showReviewDialog: false,
  }),
  computed: {
    ...mapGetters("quiz", ["corrects", "wrongs", "unanswered"]),
    barChartData() {
      return {
        datasets: [
          {
            data: [this.corrects.length, this.wrongs.length, this.unanswered.length],
            backgroundColor: ["#06d6a0", "#ef476f", "#edf6f9"],
          },
        ],
        labels: ["Correct", "Wrong", "Unanswered"],
      };
    },
    barChartOptions() {
      return { responsive: true, maintainAspectRatio: false };
    },
  },
  methods: {
    ...mapMutations("quiz", ["enableResultMode"]),
    openReviewDialog() {
      this.showReviewDialog = true;
      this.enableResultMode();
    },
  },
};
</script>
